<%= render 'layouts/navbar' %>
<h2>Categories</h2>
<div><%= link_to "Abdominals", '/exercises/Abdominals' %></div>
<div><%= link_to "Biceps", '/exercises/Biceps' %></div>
<div><%= link_to "Calves", '/exercises/Calves' %></div>
<div><%= link_to "Chest", '/exercises/Chest' %></div>
<div><%= link_to "Forearms", '/exercises/Forearms' %></div>
<div><%= link_to "Glutes", '/exercises/Glutes' %></div>
<div><%= link_to "Hamstrings", '/exercises/Hamstrings' %></div>
<div><%= link_to "Lats", '/exercises/Lats' %></div>
<div><%= link_to "Lower Back", '/exercises/Lower Back' %></div>
<div><%= link_to "Middle Back", '/exercises/Middle Back' %></div>
<div><%= link_to "Neck", '/exercises/Neck' %></div>
<div><%= link_to "Quadriceps", '/exercises/Quadriceps' %></div>
<div><%= link_to "Shoulders", '/exercises/Shoulders' %></div>
<div><%= link_to "Traps", '/exercises/Traps' %></div>
<div><%= link_to "Triceps", '/exercises/Triceps' %></div>



<% @exercises.each do |exercise| %>
	<div><a href="<%= exercise.name_href %>"><%= exercise.name %></a>
	<div><%= exercise.muscle_targeted %></div>
	<div>Rating: <%= exercise.rating %></div>
	<div><%= exercise.image %></div>
	<div><img src="<%= exercise.image_src %>"></div>
<% end %>


