<%= render 'layouts/navbar' %>
<div id="post_show">
	<div class="clearfix">
		<div class="post_image_description">
			<% @exercises.each do |exercise|%>
			<div><a href="<%= exercise.name_href %>"><%= exercise.name %></a></div>
				<div class="description">
					<div><%= exercise.muscle_targeted %></div>
					<div>Rating: <%= exercise.rating %></div>
					<div><%= exercise.image %></div>
					<div><img src="<%= exercise.image_src %>"></div>
				</div>
				<% end %>

			</div>
		</div>
	</div>

	