
<body>
  <header>
    <div class="wrapper" class="clearfix">

      <div id="logo">
        <%= link_to "FIT-SPIRATION", articles_path %>
      </div>
      <nav>
        <% if current_user %>
          <%= link_to current_user.name, "#" %>
          <%= link_to "Add New Inspiration", new_post_path, class: "button" %>
        <% else %>
          <%= link_to "Sign in", "#" %>
          <%= link_to "Sign Up", "#", class: "button" %>
      </nav>
    </div>
  </header>
</body>
