<%= render 'layouts/navbar' %>
<h1><%= @article_cat.name %> Articles</h1>

	<div><% @articles.each do |article| %>
		<h2><%= article.title %></h2>
			<div><img src="<%= article.image %>"></div>
		<h2><%= article.tag %></h2>
		<div><%= article.date %></div>
		<div><%= article.author %></div>
		<div><%= article.content %></div>
		</br>
	<% end %>