<%= render 'layouts/navbar' %>
<h1><%= @article.title %></h1>
<div><img src="<%= @article.image %>"></div>
<h2><%= @article.tag %></h2>
<div><%= @article.date %></div>
<div><%= @article.author %></div>
<div><%= @article.content %></div>