<%= render 'layouts/navbar' %>
<h1>Create New Workout</h1>

<%= form_for ([current_user, @workout]) do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

 Optional <%= f.label :description %>:
  <%= f.text_field :description %><br />

  <%= f.fields_for Routine.new do |builder| %>
  	<%= render 'routine', :f => builder %>

  <% end %>

  <%= f.submit "Create New Workout" %>
<% end %>






